   <!-- Nav lateral -->
   <section class="full-box nav-lateral">
    <div class="full-box nav-lateral-bg show-nav-lateral"></div>
    <div class="full-box nav-lateral-content">
        <figure class="full-box nav-lateral-avatar">
            <i class="far fa-times-circle show-nav-lateral"></i>
            <img th:src="@{/img/Logotipo.png}" class="img-fluid" alt="Avatar">
            <figcaption class="roboto-medium text-center">
                Bienvenido <br><small class="roboto-condensed-light"></small>
            </figcaption>
        </figure>
        
        <div class="full-box nav-lateral-bar"></div>
        <nav class="full-box nav-lateral-menu">
            <ul>
                <li>
                    <a th:href="@{/cliente/inicio}" class="nav-btn-submenu"><i class="fab fa-dashcube fa-pulse"></i> &nbsp; Inicio <i class="fas fa-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a th:href="@{/cliente/inicio}" ><i class="fas fa-users fa-pulse"></i> &nbsp; Nosotros </i></a>
                            
                        </li>
        
                        <li>
                            <a th:href="@{/cliente/inicio}" ><i class="fas fa-pallet fa-pulse"></i> &nbsp; Servicios </a>
                            
                        </li>
        
                        <li>
                            <a th:href="@{/cliente/inicio}" ><i class="fas fa-store-alt fa-pulse"></i> &nbsp; Contacto </a>
                            
                        </li>

                    </ul>
                </li>

                

                <li>
                    <a href="#" class="nav-btn-submenu"><i class="fas  fa-user-secret fa-pulse"></i> &nbsp; Acceder <i class="fas fa-chevron-down"></i></a>
                    <ul>
                        <li>
                            <a th:href="@{/admi/login}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                              </svg> &nbsp; Iniciar Sesión </i></a>
                        </li>

                        <li>
                            <a th:href="@{/admi/cliente/nuevo}" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
                              </svg> &nbsp; Registrate </i></a>
                        </li>
                        
                    </ul>
                </li>
                

                

                
            </ul>
        </nav>
    </div>
</section>